---
import Layout from "@/layouts/Layout.astro";
import ResumeCard from "@/components/ResumeCard.astro";
---

<!--
    TODO: Add resume download?
 -->

<Layout title="Resume">
    <main class="flex flex-col gap-20">
        <h1 class="text-2xl text-neutral-100">Resume</h1>

        <section class="flex flex-col gap-4">
            <h2 class="text-lg">Education</h2>
            <ResumeCard 
                title="B.S. in Computer Science"
                techs="Liberty University"
                year="2021 - 2025"
            />
        </section>

        <section class="flex flex-col gap-4">
            <h2 class="text-lg">Experience</h2>
            <ResumeCard 
                title="Resident Assistant"
                techs="Liberty University"
                year="Spring 2024"
            />
            <ResumeCard 
                title="Software Developer Intern"
                techs="Samaritan's Purse"
                year="Summer 2023"
            />
            <ResumeCard 
                title="Technology Department Intern"
                techs="Mt. Vernon Baptist Church"
                year="2020 - 2021"
            />
        </section>

        <section class="flex flex-col gap-4">
            <h2 class="text-lg">Technical Skills</h2>
            <ResumeCard 
                title="Languages"
                techs="C++, C#, Java, Python, JavaScript, TypeScript"
                year=" "
            />
            <ResumeCard 
                title="Frameworks and Libraries"
                techs="Angular, Astro, TailwindCSS"
                year=" "
            />
            <ResumeCard 
                title="Developer Tools"
                techs="Git, VSCode, Visual Studio, JetBrains IDEs"
                year=" "
            />
            <ResumeCard 
                title="Certifications and Awards"
                techs="Dean's List, Microsoft Office Specialist"
                year=" "
            />
        </section>

        <section class="flex flex-col gap-4">
            <h2 class="text-lg">Community Service and Volunteering</h2>
            <ResumeCard 
                title="NC Baptists Volunteer"
                year="2015 - 2022"
            />
            <ResumeCard 
                title="OCC Assembly Volunteer"
                year="2018 - 2021"
            />
            <ResumeCard 
                title="English Teacher"
                techs="East Asia"
                year="2019"
            />
            <ResumeCard 
                title="English Teacher"
                techs="Ukraine"
                year="2017"
            />
        </section>

    </main>
</Layout>
